.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.octicon.open {
  color: #2cbe4e;
}

.octicon.merged {
  color: #6f42c1;
}

.octicon.closed {
  color: #cb2431;
}

.octicon.invisible {
  display: none;
}
